<div class="sidebar-header">
    <a href="/" style="text-decoration: none; color: inherit;">
        <div class="logo-container">
            <div class="logo-icon" style="background: transparent;">
                <img src="/assets/logo-black.png" alt="" width="110%" height="auto">
            </div>
            <span class="logo-text">Before You Sign</span>
        </div>
    </a>
</div>