<div class="sidebar-header">
    <a href="/" style="text-decoration: none; color: inherit;">
        <div class="logo-container">
            <div class="logo-icon" style="background: transparent;">
                <img src="https://swedensouth1-mediap.svc.ms/transform/thumbnail?provider=spo&farmid=190403&inputFormat=png&cs=fFNQTw&docid=https%3A%2F%2Fmy.microsoftpersonalcontent.com%2F_api%2Fv2.0%2Fdrives%2Fb!NX6-4HE1F0qP5bOdHqO2FrXD4ur4BwFDvKPhmGaXwJaf0YzfMrReSZlySWnS52Kl%2Fitems%2F01UKIONZ6OSKBOQFYO5NDIDI742W2YEKKT%3Ftempauth%3Dv1e.eyJzaXRlaWQiOiJlMGJlN2UzNS0zNTcxLTRhMTctOGZlNS1iMzlkMWVhM2I2MTYiLCJhdWQiOiIwMDAwMDAwMy0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAvbXkubWljcm9zb2Z0cGVyc29uYWxjb250ZW50LmNvbUA5MTg4MDQwZC02YzY3LTRjNWItYjExMi0zNmEzMDRiNjZkYWQiLCJleHAiOiIxNzY1OTgzNjAwIn0.SXTZmg7alrwZ0y1FWGeaMQikuQhUeUhJ-rX8WYfdtOorbZ23itnccvcKe-Q9A6Q9gpHIc1RSGZzWldfR_9I8POcyJCIZThkjx8gjkdU54QbBXnavDEqgxR0ZWaBoWweAezCLCYMKk0_gFL-TcMhWoVItD20MC_UQXxjSTeOaa_UNgCR_nOu6cJXbPMqZ4uHsqQVSP-ORdQ5vseXHDYVig7ap0OD1MSgAFVhrbrAQ960gnorkFaCihozLqWPRrnGzj68ptbODDC7J5QxJnVfvia2mVtRzM9-W_lkNM8exrR8ZqD5SkzALsM7w47lao7YCuAPL7hAHfj_8gf1O29kzO6A1hbzhkdsZXYpCPmsVqQ0SIcyj_OLuOzQ07wYwt1ZLhaLzL_J5yfsVy2cm8WHRLWWTZR_cFd8hW0oMK3DutZK64viqwTKimiEfnfTcqi6hYDkF_LRF7b9ltzk3lDmu8yRfYTON67jnjhn-dyuvHrk.bhWlqRTU1ihms1yhCbJSaTcMtIGHPZeDix8nOVmrlls%26version%3DPublished&cb=63894238304&encodeFailures=1&width=846&height=847" alt="" width="110%" height="auto">
            </div>
            <span class="logo-text">Before You Sign</span>
        </div>
    </a>
</div>