
<nav>
    <style>
        .nav__logo__img {
            max-width: 18.5%;
            height: auto;
        }
    </style>
    <div class="nav__header">
        <div class="nav__logo">            
            <a href="/">
                <img src="https://swedensouth1-mediap.svc.ms/transform/thumbnail?provider=spo&farmid=190403&inputFormat=png&cs=fFNQTw&docid=https%3A%2F%2Fmy.microsoftpersonalcontent.com%2F_api%2Fv2.0%2Fdrives%2Fb!NX6-4HE1F0qP5bOdHqO2FrXD4ur4BwFDvKPhmGaXwJaf0YzfMrReSZlySWnS52Kl%2Fitems%2F01UKIONZ4ZDKP7ZHGQ35CKH4WC43D4BWLF%3Ftempauth%3Dv1e.eyJzaXRlaWQiOiJlMGJlN2UzNS0zNTcxLTRhMTctOGZlNS1iMzlkMWVhM2I2MTYiLCJhdWQiOiIwMDAwMDAwMy0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAvbXkubWljcm9zb2Z0cGVyc29uYWxjb250ZW50LmNvbUA5MTg4MDQwZC02YzY3LTRjNWItYjExMi0zNmEzMDRiNjZkYWQiLCJleHAiOiIxNzY1OTgzNjAwIn0.pR4sab4tO0XNra8jUZFThAMISA2Uq5by7wZNsxsUsnuD30v7T2UcEm_iuHMuLves3Xnqp-6iYdNy0TdoGD6MntunO3qT3wkjywkQWB_YsIZHT0VFzAkdnVNDgpdXhsDt3e3nZnQXZjl1p6RhMqt9xNidBJS6ZHwathrdmR_QycByh44hIuqoZ1BwUDAAzsUxiszcCWS21yXocAo2vY0eAaAhh2zVmYMUwB5gHqfvF-aTySA4yItQyhkIDurQvwu6Whq-8TFfz-K7dHnFI0_j_OJXEkNFi2Qi2z7DNlJZnz90TUDzQPuz5ktSdl-_gBXqyK3B1abANcZgKRcJ7vkNeDhAcHKxbjEruz52GM-MCnirz7mcKuXf3ZlSDgRt31GOZ6z3Uquy_PB8q1m_LJ5Dssoi3GzWf3Oby8fhd2Wg_Hf9lcSWN6cd-6ZRVBZQDYKQ0-FzKYL4WA6B9EEL3ARqojRctqy8DuN9mU_Lm0DXY8c.AXi1WftUybwUOmwx-JZ9cfqSyWzrrxSlwdqT14igWKk%26version%3DPublished&cb=63894238304&encodeFailures=1&width=846&height=847" alt="Logo" class="nav__logo__img">
            </a>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
        <i class="ri-menu-line"></i>
    </div>
    </div>
    <ul class="nav__links" id="nav-links">
        <% if (!role) { %>
            <li><a href="/">Home</a></li>
            <li><a href="/customer/vehicles">Vehicles</a></li>
            <li><a href="/customer/browse-dealerships">Dealerships</a></li>
            <li><a href="/customer/about">AboutUs</a></li>
            <li class="nav__links__btn">
                <button class="btn" onclick="window.location.href='/register/dealership'">Register Dealership</button>
            </li>
            <li class="nav__links__btn">
                <button class="btn" onclick="window.location.href='/login'">Sign In</button>
            </li>
        <% } else if (role === 'admin') {%>
            <li><a href="/admin/dashboard">Dashboard</a></li>
            <li><a href="/admin/dealerships">Dealerships</a></li>
            <li><a href="/admin/verify-vehicles">Verify Vehicles</a></li>
            <li><a href="/admin/disputes">Disputes</a></li>
            
            <li class="nav__links__btn">
              <button class="btn" onclick="window.location.href='/logout'">Sign Out</button>
            </li>
        <% } else if (role === 'dealership') {%>
            <li><a href="/dealership/dashboard">Dashboard</a></li>
            <li><a href="/dealership/profile">Profile</a></li>
            <li><a href="/dealership/add-vehicle">Add Vehicle</a></li>
            <li><a href="/dealership/vehicles">Vehicles</a></li>
            
            <li class="nav__links__btn">
              <button class="btn" onclick="window.location.href='/logout'">Sign Out</button>
            </li>   
        <% } else if (role === 'customer') {%>
            <li><a href="/customer/dashboard">Dashboard</a></li>
            <li><a href="/customer/vehicles">Vehicles</a></li>
            <li><a href="/customer/browse-dealerships">Dealerships</a></li>
            <li><a href="/customer/my-disputes">My Disputes</a></li>
            
            <li class="nav__links__btn">
              <button class="btn" onclick="window.location.href='/logout'">Sign Out</button>
            </li>
        <%}%>
    </ul>
    <% if (!role) { %>
     <div class="nav__btns">
        <button class="btn btn__primary" onclick="window.location.href='/register/dealership'">Register Dealership</button>
        <button class="btn btn__secondary" onclick="window.location.href='/login'">Sign In</button>
    </div>
    <% } else if (role === 'admin') {%>
        <div class="nav__btns">
            <button class="btn btn__secondary" onclick="window.location.href='/logout'">Sign Out</button>
        </div>
    <% } else if (role === 'dealership') {%>
        <div class="nav__btns">
            <button class="btn btn__secondary" onclick="window.location.href='/logout'">Sign Out</button>
        </div>
    <% } else if (role === 'customer') {%>
        <div class="nav__btns">
            <button class="btn btn__secondary" onclick="window.location.href='/logout'">Sign Out</button>
        </div>
    <%}%>
</nav>

    
</nav>